<div class="p-about">
    <figure class="p-about__mv">
        <img src="/assets/img_top_mv_pc.jpg" alt="メインビジュアル" class="p-about__mvImage u-pc">
        <img src="/assets/img_top_mv_sp.jpg" alt="メインビジュアル" class="p-about__mvImage u-sp">
        <figcaption class="p-about__mvText">
            テキストが入ります<br class="u-sp">テキストが入ります
            <br>テキストが入ります<br class="u-sp">テキストが入ります
        </figcaption>
    </figure>

    <div class="p-about__titleBlock">
        <div class="l-container">
            <h1 class="p-about__titleBlock__text">
                タイトルが入ります<span class="p-about__titleBlock__textColor">愛媛ログ</span>が入ります
            </h1>
            <p class="p-about__titleBlock__detail">
                説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります
                説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります
                説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります
                説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります
            </p>
        </div>
    </div>

    <div>
        <ul>

        </ul>
    </div>


</div>