<div class="p-about">
    <figure class="p-about__mv">
        <img src="/assets/img_top_mv_pc.jpg" alt="メインビジュアル" class="p-about__mvImage u-pc">
        <img src="/assets/img_top_mv_sp.jpg" alt="メインビジュアル" class="p-about__mvImage u-sp">
        <figcaption class="p-about__mvText">
            愛媛であなただけの心くつろぐ空間を見つけてみては
            <%# テキストが入ります<br class="u-sp">テキストが入ります
            <br>テキストが入ります<br class="u-sp">テキストが入ります %>
        </figcaption>
    </figure>

    <section class="p-about__titleBlock">
        <div class="l-container">
            <h1 class="p-about__titleBlock__text">
                タイトルが入ります<span class="p-about__titleBlock__textColor">愛媛ログ</span>が入ります
            </h1>
            <p class="p-about__titleBlock__detail">
                説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります
                説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります
                説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります
                説明文が入ります説明文が入ります説明文が入ります説明文が入ります説明文が入ります
            </p>
            <figure class="p-about__titleBlock__picture">
                <img src="/assets/img_about01.jpg" alt="コーヒー" class="p-about__titleBlock__pictureImage">
                <img src="/assets/img_about02.jpg" alt="みかん" class="p-about__titleBlock__pictureImage">
                <img src="/assets/img_about03.jpg" alt="ロールケーキ" class="p-about__titleBlock__pictureImage">
            </figure>
        </div>
    </section>

    <section class="p-about__introduction">
        <div class="l-container">
            <h3 class="p-about__introductionTitle">＼ メンバー紹介 ／</h3>
            <ul class="p-about__introductionWrap"> 
                <li class="p-about__introductionList">
                    <figure class="p-about__introductionList__image">
                        <img src="/assets/damy.jpg" alt="愛媛ログのメンバー">
                        <figcaption class="p-about__introductionList__caption">金崎 陽</figcaption>
                    </figure>
                    <p class="p-about__introductionList__text">私が愛媛ログの代表金崎です！趣味は釣り、サウナ、カフェ巡りです！サウナではメンバー二人と熱い時間を過ごしています、色んな意味で(笑)<br>皆さんにとってくつろげる空間を発信していきます！！</p>
                </li>
                <li class="p-about__introductionList">
                    <figure class="p-about__introductionList__image">
                        <img src="/assets/damy.jpg" alt="愛媛ログのメンバー">
                        <figcaption class="p-about__introductionList__caption">村永 晃紫郎</figcaption>
                    </figure>
                    <p class="p-about__introductionList__text">私は撮影担当の村永です。写真については無知です。しかし皆様がいきたいと思えるような写真が撮れたらなと思っております。よろしくお願いします。</p>
                </li>
                <li class="p-about__introductionList">
                    <figure class="p-about__introductionList__image">
                        <img src="/assets/damy.jpg" alt="愛媛ログのメンバー">
                        <figcaption class="p-about__introductionList__caption">田村 治統</figcaption>
                    </figure>
                    <p class="p-about__introductionList__text">私はこのサイトを作成した田村です！趣味は筋トレ、サウナなどです！僕は香川出身なので松山のことは知りませんでしたが、素敵な場所がたくさんあります！是非この愛媛ログを通して皆さんと共有したいです！</p>
                </li>
            </ul>
        </div>
    </section>

    <section class="p-about__invitation">
        <div class="l-container">
            <div class="p-about__invitationBlock">
                <h3 class="p-about__invitationBlock__title">＼ 仲間を募集しています ／</h3>
                <p class="p-about__invitationBlock__text">愛媛ログの一員として共に活動してくれる仲間を募集しています。<br>インスタグラムのDMからご連絡ください！</p>
                <a href="https://www.instagram.com/ehime_log/" >https://www.instagram.com/ehime_log/</a>
            </div>
        </div>
    </section>


</div>