// ホーム画面
.p-home{
    &Select{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 20px 0;
        margin: 60px 0 ;
        &__box{
            width: 30%;
            box-shadow: 1px 2px 8px rgb(200, 200, 200);
            text-align: center;
            padding: 16px 20px;
            margin: 0 0 30px;
            &:hover{
                outline: 2px solid rgb(79, 214, 85);
                outline-offset: -2px;
            }
            &.-selected{
                position: relative;
                outline: 2px solid rgb(79, 214, 85);
                outline-offset: -2px;
                &::after{
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background: image-url('icon_checked.png') no-repeat;
                    background-size: contain;
                    top: -10px;
                    left: -10px;
                }
            }
        }
        &__btn{
            text-align: center;
            a{
                color: #FFFFFF;;
                background: #fa0;
                background: #fa0;
                display: inline-block;
                box-shadow: 1px 2px 8px rgb(200, 200, 200);
                text-align: center;
                width: 400px;
                padding: 20px;
                margin: 0 0 30px;
                &:hover{
                    text-decoration: none;
                    opacity: 0.7;
                }
            }
        }
        &__error{
            opacity: 0;
            text-align: center;
            color: red;
            margin: 0 0 20px;
            &.-error{
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 767px) {
		&Select{
            display: block;
            margin: 30px 0 30px;
            &__box{
                width: 100%;
                padding: 16px 20px;
                margin: 0 0 20px;
            }
            &__btn{
                a{
                    width: 80%;
                    padding: 20px;
                    margin: 0 0 30px;
                }
            }
        }
	}
}


// 投稿一覧画面
.p-postList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    margin: 80px 0 30px;
    &__content{
        width: 30%;
        list-style-type: none;
        margin: 0 0 40px;
        &Link{
            display: inline-block;
            &:hover{
                opacity: 0.6;
                text-decoration: none;
            }
        }
        &Image{
            box-shadow: 1px 2px 8px rgb(200, 200, 200);
        }
        &Caption{
            margin: 10px 0 0 ;
            color: #000000;
            line-height: 1.4;
            height: 62px;
            overflow: hidden;
        }
    }
    @media screen and (max-width: 767px) {
        margin: 40px 0 20px;
        &__content{
            width: 45%;
            margin: 0 0 24px;
            &Caption{
                height: 55px;
                font-size: 14px;
            }
        }
	}
}