// ホーム画面
.p-home{
    background: #F7F7F7;
    padding: 30px 20px;
    margin: 30px auto;
    &Select{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 10px 0;
        &__box{
            width: 270px;
            height: 180px;
            box-shadow: 1px 2px 8px rgb(200, 200, 200);
            text-align: center;
            margin: 0 0 30px;
            font-weight: bold;
            background:image-url('img_select01.jpg') no-repeat; ;
            background-size: cover;
            border-radius: 10px;
            position: relative;
            &Text{
                position: absolute;
                top: 44%;
                left: 0;
                right: 0;
                color: #ffffff;
                margin: auto;
            }
            &.-selected{
                position: relative;
                outline: 4px solid rgb(79, 214, 85);
                outline-offset: -2px;
                &::after{
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    background: image-url('icon_checked.png') no-repeat;
                    background-size: contain;
                    top: -10px;
                    left: -10px;
                }
            }
            input[type=radio]{
                display:none;
            }
        }
        &__btn{
            text-align: center;
            margin: 0 auto;
            &Orange{
                color: #FFFFFF;
                background: #fa0;
                background: #fa0;
                box-shadow: 1px 2px 8px rgb(200, 200, 200);
                text-align: center;
                width: 400px;
                padding: 20px;
                margin: 0 auto 30px;
                border: none;
                font-size: 16px;
                border-radius: 50px;
                &:hover{
                    text-decoration: none;
                    opacity: 0.7;
                }
                a{
                    display: block;
                    color: #FFFFFF;
                    text-decoration: none;
                    z-index: 10;
                }
            }
        }
        &__error{
            display:none;
            text-align: center;
            color: red;
            margin: 0 0 20px;
            &.-error{
                display: block;
            }
        }
    }
    @media screen and (max-width: 767px) {
        margin: 20px 0 30px;
        padding: 20px 10px;
		&Select{
            padding: 0;
            flex-wrap: wrap;
            &__box{
                width:48%;
                height: 30vw;
                margin: 0 0 20px;
                background-position: right;
            }
            &__btn{
                &Orange{
                    width: 80%;
                    padding: 20px;
                    margin: 0 0 30px;
                }
            }
        }
	}
}


// 投稿一覧画面
.p-postList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    margin: 80px 0 30px;
    &__content{
        width: 30%;
        list-style-type: none;
        margin: 0 0 40px;
        &Link{
            display: inline-block;
            &:hover{
                opacity: 0.6;
                text-decoration: none;
            }
        }
        &Image{
            box-shadow: 1px 2px 8px rgb(200, 200, 200);
        }
        &Caption{
            margin: 10px 0 0 ;
            color: #000000;
            line-height: 1.4;
            height: 62px;
            overflow: hidden;
        }
    }
    @media screen and (max-width: 767px) {
        margin: 40px 0 20px;
        &__content{
            width: 45%;
            margin: 0 0 24px;
            &Caption{
                height: 55px;
                font-size: 14px;
            }
        }
	}
}